@media all and (max-width: 1030px)
{
	.imag
	{
		display: none;
	}

	.col-sm-8
	{
		width: 100%;
	}
}
@media all and (max-width: 767px)
{
	.briefcase
	{
		margin-left: -15px !important;
		padding-right: 15px !important;
	}
}